#index-header {
    width: 18.75em;
    margin: 0 auto;
    margin-top: 3em;
}

main {
    margin-bottom:
}

footer {
    position: relative;
    bottom: -3em;
}

.informations-wrapper {
    width: auto;
    height: auto;
    margin: 0 auto;
}
